//Typographic scale http://alistapart.com/article/settingtypeontheweb
//This is also intersting on rem vs. em https://j.eremy.net/confused-about-rem-and-em/
//Modular Scale: http://www.modularscale.com/?1&em&1.875&sass&text


//Typography 
$base-font-size: 118%;
$base-line-height: 1.526315789em;
$measure: 980px;

//Mobile basic type adjustments
$mobile-base-font-size: 1.1875em;

//Default Type Colors
$primary-type-color: #333;
$secondary-type-color: #666;
$quiet-type-color: #999;

//Default Heading Style
$heading-color: #336699;
$heading-weight: 600;
$heading-typeface: "Open Sans";

//Headings 
$h1-font-size: 2.368421053em;
$h1-line: 0.644444444em;
$h1-lines: 2;
$h1-line-height: $h1-line * $h1-lines;
$h1-margin-top: 2 * $h1-line;
$h1-margin-bottom: 0.5 * $h1-line;
$h1-color: $heading-color;
$h1-weight: $heading-weight;

$h2-font-size: 1.789473684em;
$h2-line: 0.852941177em;
$h2-lines: 2;
$h2-line-height: $h2-line * $h2-lines;
$h2-margin-top: 2 * $h2-line;
$h2-margin-bottom: 0.5 * $h2-line;
$h2-color: $heading-color;
$h2-weight: $heading-weight;

$h3-font-size: 1.315789474em;
$h3-line: 1.16em;
$h3-lines: 1;
$h3-line-height: $h3-line * $h3-lines;
$h3-margin-top: 2 * $h3-line;
$h3-margin-bottom: 0.5 * $h3-line;
$h3-color: $heading-color;
$h3-weight: $heading-weight;

$h4-font-size: 1em;
$h4-line: 1.526315789em;
$h4-lines: 1;
$h4-line-height: $h4-line * $h4-lines;
$h4-margin-top: 2 * $h4-line;
$h4-margin-bottom: 0.5 * $h4-line;
$h4-color: $heading-color;
$h4-weight: $heading-weight;

// Paragraph 
$paragraph-typeface: "Gentium Basic", "Georgia", serif;
$paragraph-color: $primary-type-color;
$paragraph-margin-bottom: 2 * $base-line-height;

// Lists
$list-typeface: $paragraph-typeface;
$list-color: $paragraph-color;
$list-item-margin-bottom: 0.25 * $base-line-height;

// Blockquotes
$blockquote-font-size: 1.315789474em;
$blockquote-line: 1.16em;
$blockquote-lines: 1;
$blockquote-line-height: 1.3 * $h3-line-height;
$blockquote-margin: $base-line-height 0 (2 * $base-line-height) 0;
$blockquote-padding: 1.1875rem; //rem to ensure consistent space for MQ?

$blockquote-background: #f1f1f1;
$blockquote-typeface: $paragraph-typeface;
$blockquote-type-style: italic;
$blockquote-color: $secondary-type-color;

// Figure Caption 
$figcaption-font-size: $base-font-size;
$figcaption-line: 1.16em;
$figcaption-lines: 1;
$figcaption-line-height: $base-line-height;
$figcaption-margin: 0 0 0 0;
$figcaption-padding: 0rem; //rem to ensure consistent space for MQ?
$figcaption-typeface: $paragraph-typeface;
$figcaption-type-style: italic;
$figcaption-color: $secondary-type-color;


//Rule 
$rule-margin-top: $base-line-height;
$rule-margin-bottom: 2 * $base-line-height;
$rule-height: 1px;
$rule-border-top: 1px solid $quiet-type-color;
$rule-border-bottom: 0;


//Spacer
$spacer-block-color: #eee;



