---
title: Story Sample
---

<div id="main">

	<div class="container">

		<div class="block">

			<div class="layout">

				<div class="col-12">

					<div class="format center">
					<h1>G3: 1.1.b</h1>
					<p>Increase the average miles traveled per gallon of fuel for Washington’s overall passenger and light duty truck fleet from 19.2 miles per gallon in 2010 to 23 miles per gallon in 2020</p>
					</div>

				</div>

			</div>

		</div>


		<div class="block">

			<div class="layout">

				<div class="col-12">

					<hr />

				</div>

			</div>

		</div>

		<div class="block">

			<div class="layout">

				<div class="col-12">

				<img src="/images/story-chart-ex2.jpg" alt=" " />

				</div>

			</div>

		</div>
		<div class="block">

			<div class="layout">

				<div class="col-12">

					<h2>Why is this a priority?</h2>
					<p>Traveling further using less fuel saves drivers money and pollutes the environment less. Improvements to miles per gallon traveled will reduce overall greenhouse gas emissions, as well as reducing other air pollutants. Reducing greenhouse gases can help reduce the impacts of global climate change. Reducing other pollution can reduce heart and lung disease and reduce the health care costs associated with pollution-caused illnesses.</p>


				</div>

			</div>

		</div>

		<div class="block">

			<div class="layout">

				<div class="col-12">

				<h2>How are we doing?</h2>
				<ul>
					<li>Federal mileage standards have been very effective at improving "miles per gallon" ratings for new cars.</li>
					<li>New federal mileage standards that will go into place in 2016 will improve mileage substantially into the next decades (increasing from 34.1 mpg in 2016 to 54.5 mpg by 2025).</li>
					<li>Washington's overall mileage for the "passenger and light duty truck" fleet is lower than the national average. Vehicles registered in Washington tend to be older than other parts of the country (making overall mileage slightly lower).</li>
				</ul>

				</div>

			</div>

		</div>

		<div class="block">

			<div class="layout">

				<div class="col-12">

					<h2>What are we working on?</h2>
					
					<p>Mileage standards for vehicles are regulated by the federal government. But there are things the state is working on to make sure the most fuel efficient and least polluting cars are sold in Washington:</p>

					<ul>
						<li>Ecology implements the Washington Clean Car Standards, the most stringent pollution standards for vehicles in the nation. All new cars purchased in Washington since 2009 must meet this standard.</li>
						<li>Congestion on our roadways can reduce vehicle mileage. The Washington Department of Transportation is deploying several strategies, like smart roadways, HOV lanes, and fast incident response to keep traffic moving.
						</li>
					</ul>

				</div>

			</div>

		</div>

		
	</div>

</div>
