---
title: Story Sample
---

<div id="main">

	<div class="container">

		<div class="block">

			<div class="layout">

				<div class="col-12">

					<div class="format center">
					<h1>MY AMAZING TITLE<br /> IS ABSOLUTELY AMAZING, DUDE</h1>
					</div>

				</div>

			</div>

		</div>


		<div class="block">

			<div class="layout">

				<div class="col-12">

					<hr />

				</div>

			</div>

		</div>

		<div class="block">

			<div class="layout">

				<div class="col-12">

					<h4>State-funded Preschool Enrollment By Other Categories for 2013-14 School Year</h4>
					
					<img src="/images/story-chart-ex1.jpg" alt="Sample Chart" />

					<p><i>Data Source: Early Learning Management System (ELMS)</i></p>

				</div>

			</div>

		</div>
		<div class="block">

			<div class="layout">

				<div class="col-12">

					<h2>WHY IS THIS A PRIORITY?</h2>
					<p>Increasing access to high quality early learning experiences prepares children for success in school and life. ECEAP reaches children most in need of these foundations for learning. ECEAP is slated to serve all eligible children and families who choose to participate in 2018-19. This is required by RCW 43.215.455-456 and is based on the caseload forecast required in 43.215.456(6).</p>


				</div>

			</div>

		</div>

		<div class="block">

			<div class="layout">

				<div class="col-12">

				<h2>HOW ARE WE DOING?</h2>
				<p>The process is driven by legislative budget decisions. We added 350 slots in 2013-14 and are allocated 1,350 slots in 2014-15. This means, by the end of this biennium, we will have added 15% of the needed new slots, while 33% of allowed six years has passed. We have completed the "saturation study" process to fairly award the slots to communities with state-funded full day kindergarten, as required by statute, where there is lower than average access to ECEAP or Head Start.</p>


				</div>

			</div>

		</div>

		
	</div>

</div>
