---
title: Blocks
---

<div id="main" class="layout">

	<div class="container">


		<div class="col-12">Col 12</div>


		<div class="col-6">Col 6</div>
		<div class="col-6 last">Col 6 - Omega</div>

		<div class="layout">
		<div class="col-4">Col 4</div>
		<div class="col-4">Col 4</div>
		<div class="col-4 last">Col 4 - Omega</div>
		</div>

		</div>

</div>
